<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Gestión de Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Gestión de Productos</h1>

        <p>
            <a href="{% url 'registro' %}">Registro de productos</a>
            <a href="{% url 'consulta' %}">Consulta de productos</a>
            <a href="{% url 'resultado' %}">Último producto registrado</a>
        </p>
    </div>
</body>
</html>
